@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
$fuente-titulo:'Merriweather', sans-serif;
$fuente-cuerpo:'Montserrat', sans-serif;
$bg-1: #030644;
$bg-2: #c7d3e6;
$bg-3: #fabe64;
$breackpoint: 768px;
$breackpoint-tablet: 1024px;
